In [22]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score,confusion_matrix
from sklearn.feature_extraction.text import TfidfVectorizer
#from sklearn.naive_bayes import GaussianNB
df=pd.read_csv("spam.csv",encoding="latin")
df.head()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   v1          5572 non-null   object
 1   v2          5572 non-null   object
 2   Unnamed: 2  50 non-null     object
 3   Unnamed: 3  12 non-null     object
 4   Unnamed: 4  6 non-null      object
dtypes: object(5)
memory usage: 217.8+ KB

In [24]:
df.drop(["Unnamed: 2","Unnamed: 3","Unnamed: 4"],axis=1,inplace=True)

In [25]:
df.rename(columns={"v1": "Category","v2": "Text"},inplace=True)
df.head()

  Category                                               Text
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [26]:
data = df.where((pd.notnull(df)), ' ')
data.head()

  Category                                               Text
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [27]:
data.describe()

       Category                    Text
count      5572                    5572
unique        2                    5169
top         ham  Sorry, I'll call later
freq       4825                      30

In [28]:
data.loc[data["Category"]=="spam","Category"]=0
data.loc[data["Category"]=="ham","Category"]=1
data.head()

  Category                                               Text
0        1  Go until jurong point, crazy.. Available only ...
1        1                      Ok lar... Joking wif u oni...
2        0  Free entry in 2 a wkly comp to win FA Cup fina...
3        1  U dun say so early hor... U c already then say...
4        1  Nah I don't think he goes to usf, he lives aro...

In [29]:
x=data["Text"]
y=data["Category"]
x_train,x_test,y_train,y_test=train_test_split(x,y,random_state=3,test_size=0.2)
print(x.shape," ",x_train.shape," ",x_test.shape," ",y.shape," ",y_train.shape," ",y_test.shape)

(5572,)   (4457,)   (1115,)   (5572,)   (4457,)   (1115,)

In [30]:
feature_extract=TfidfVectorizer(min_df=1, stop_words="english", lowercase=True)
X_train=feature_extract.fit_transform(x_train)
X_test=feature_extract.transform(x_test)
Y_train=y_train.astype("int")
Y_test=y_test.astype("int")

In [31]:

model=LogisticRegression()
model.fit(X_train,Y_train)

LogisticRegression()

In [32]:
prediction=model.predict(X_train)
accuracy=accuracy_score(Y_train,prediction)
print("Accuracy of the train model: ",accuracy)

Accuracy of the train model:  0.9661207089970832

In [33]:
prediction_test=model.predict(X_test)
accuracy_test=accuracy_score(Y_test,prediction_test)
print("Accuracy of the test model: ",accuracy_test)

Accuracy of the test model:  0.9623318385650225

In [34]:
text=[input("Enter the text here: ")]
text_transform=feature_extract.transform(text)
text_predict=model.predict(text_transform)
if (text_predict)[0]==1:
    print("Ham mail")
else:
    print("Spam mail")

Ham mail